<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css" />
    <title>Cat Distibution System</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    
    <p id="cds_description">
      The Universal Cat Distibution System believes that you don't choose a cat,
      the cat chooses YOU! Find a kitten out on your morning run? The Cat
      Distribution System. Leave the doggie door unlocked only to find a strange
      cat asleep on your couch? Congratulations! The Cat Distibution System has
      chosen you! If you've decided to make this little critter a part of your
      family, but don't know what to do, our wish is to share some information
      on making a safe and happy furever home.
    </p>
    <div class="homepage_photos">
      <div id="food">
      <img src="https://imgur.com/gwRTouZ.jpg" alt="two cats at food bowl" height="250"/><br />
      <a href="/cats"><button class="button">FOOD</button></a>
    </div>
    <div id="resources">
      <img src="https://imgur.com/EvEbWMI.jpg" alt="cat and computer" height="250"/><br />
      <a href="/cats/resources"><button class="button">RESOURCES</button></a>
    </div>
    <div id="tips">
      <img src="https://imgur.com/R54IgOl.jpg" alt="kitten with stuffed bunny" height="250"/><br />
      <a href="/cats/advice"><button class="button">TIPS AND ADVICE</button></a>
    </div>    
    </div>

  </body>
</html>
