@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Noto+Sans:wght@300&display=swap");

body {
  background-color:ghostwhite;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

#title {
  font-size: xx-large;
  text-align: center;
}

/* nav {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

nav ul {
  float: left;
  width: 100%;
  padding: 0 750px;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid black;
}
nav a {
  float: left;
  width: 96px;
  text-decoration: none;
  color: seagreen;
  padding: 8px 15px;
  border-right: 1px solid black;
}

nav a:hover {
  color: black;
} */

/* nav li {
  display: inline;
} */

h1 {
  font-family: "Kanit", sans-serif;
  margin-top: 75px;
}

ul {
  text-align: center;
  list-style-type: none;
}

.review {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#price {
  font-weight: bold;
}

form {
  text-align: center;
  padding: 7px 100px;
}

.button {
  background-color: lightgray;
  border: darkgrey outset 3px;
  margin-top: 5px;
  text-decoration: none;
}

p {
  margin-top: 50px;
  padding: 0 500px;
}

img {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#review {
  padding: 0 800px;
}

#cds_description {
  margin-top: 40px;
}

.homepage_photos {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}


ol {
text-align: left;
}

